<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Pizza-Italiano Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
           <a (click)="onOpenModal(null, 'add')" href="#" class="nav-link" >Add Pizza <span class="sr-only">(current)</span></a>
        </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
        <input type="search" (ngModelChange)="searchePizzas(key.value)" #key="ngModel" ngModel
        name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search pizza..." required>
     </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
      <div *ngFor="let pizza of pizzas" class="col-md-6 col-x1-3">
          <div class="card m-b-30">
              <div class="card-body row">
                  <div class="col-6">
                      <a href=""><img src="{{pizza?.pictureURL}}" alt="" class="img-fluid rounded-circle w-60"></a>
                  </div>
                  <div class="col-6 card-title align-self-center mb-0">
                      <h5><i *ngIf="pizza?.vegan" class="fa fa-leaf float-left-center style=color:white"></i>{{pizza?.name}} </h5>
                      <p class="m-0">{{pizza?.ingredients}}</p>
                      <p class="m-0"><i class="fa fa-dollar float-left-center"></i> {{pizza?.price}} zł</p>
                  </div>
              </div>
              <div class="card-body">
                  <div class="float-right btn-group btn-group-sm">
                      <a (click)="onOpenModal(pizza, 'edit')" href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                      <a (click)="onOpenModal(pizza, 'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>

<!-- Add Pizza Modal -->
<div class="modal fade" id="addPizzaModal" tabindex="-1" role="dialog" aria-labelledby="addPizzaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Pizza</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddPizza(addForm)">
         <div class="form-group">
            <label for="name">Pizza name:</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Margarita..." required>
         </div>
         
         <div class="form-group">
            <label for="ingredients">Ingredients:</label>
           <input type="text" ngModel name="ingredients" class="form-control" id="ingredients" placeholder="mozzarella, tomatoes, onions, mushrooms..." nonrequired>
         </div>
      
         <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" ngModel name="price" class="form-control" id="price" placeholder="21.37..." required>
         </div>
         <div class="form-group">

            <style> 
               input.largerCheckbox { 
                  vertical-align: middle;
                  width: 20px; 
                  height: 20px; 
               } 
           </style> 

            <label for="vegan">Vegan? &nbsp;</label>
            <input type="checkbox" class="largerCheckbox" ngModel name="vegan" id="vegan" nonrequired>
       
         </div>
         <div class="form-group">
            <label for="pictureURL">Image URL:</label>
            <input type="text" ngModel name="pictureURL" class="form-control" id="pictureURL" placeholder="https://pizzaphoto.pl/margarita.png..." nonrequired>
         </div>
         <div class="modal-footer">
            <button type="button" id="add-pizza-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
         </div>
         </form>
      </div>
   </div>
 </div>
 </div>

<!-- Edit Pizza Modal -->
<div class="modal fade" id="updatePizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updatePizzaModalLabel">Edit Pizza {{editPizza?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
              <div class="form-group">
                 <label for="name">Pizza name:</label>
                 <input type="text" ngModel="{{editPizza?.name}}" name="name" class="form-control" id="name">
              </div>

              <input type="hidden" ngModel="{{editPizza?.id}}" name="id" class="form-control" id="id">
             
              <div class="form-group">
                 <label for="ingredients">Ingredients:</label>
                 <input type="text" ngModel="{{editPizza?.ingredients}}" name="ingredients" class="form-control" id="ingredients">
              </div>
              <div class="form-group">
                 <label for="price">Price:</label>
                 <input type="text" ngModel="{{editPizza?.price}}" name="price" class="form-control" id="price">
              </div>
              <div class="form-group">
                 <label for="vegan">Vegan? &nbsp;</label>
                 <input type="text" ngModel="{{editPizza?.vegan}}" class="form-control" name="vegan" id="vegan" >
              </div>
              <div class="form-group">
                 <label for="imageURL">Image URL</label>
                 <input type="text" ngModel="{{editPizza?.pictureURL}}" name="pictureURL" class="form-control" id="pictureURL">
              </div>
              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdatePizza(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

 <!-- Delete Modal -->
<div class="modal fade" id="deletePizzaModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Pizza {{deletePizza?.name}}</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete pizza {{deletePizza?.name}}?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeletePizza(deletePizza?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div>

<!-- Notification for no pizzas -->
<div *ngIf="pizzas?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO PIZZAS!</h4>
    <p>No pizzas were found.</p>
  </div>
  </div>