@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body{
    margin-top:00px;
    background-image: url("https://t3.ftcdn.net/jpg/03/40/93/00/360_F_340930009_WtmPbofCmuBGo3SxTR59e3qUrUs8Bm2Y.jpg");
}

.headerh2 {
    font-size: 20px;
    font-weight: 100;
    color: #000000;
    
  }

  
  #pineappleAlert{
    display: block;
     margin-left: auto;
    margin-right: auto;
    width: 800px;
    background: #a10000d8;
    height: 200px;
    text-align: center;
    align-items: center;
    padding: 50px 0;
    color: #ffffff;
    margin-bottom: 60px;
    border-radius: 30px;
  }

.card {
    background: #fae8d2e2;
    height: 280px;
    border-radius: 30px;
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
    margin-bottom: 30px;
}
.w-60 {
    width: 100px;
}


#neubar {
    background: #9a7343e2;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #ffe7ca, #f5d7b2);
    box-shadow:  4px 4px 8px #ddc1a0,
                 -4px -4px 8px #f7e5cc;
  }
  #neubar .dropdown-menu a:hover {
    color: #454545
  }
  #neubar .nav-item {
    margin : auto 4px;
  }
  #neubar a {
  
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545
  }
  
 
